html, body {
    margin: 16px;
    padding: 0px;
}
div, input, button {
    font-family: monospace, sans-serif;
    overflow: hidden;
    word-wrap: break-word;
}

@media (hover: hover) {
}

@media (min-width: 560px) {
}