/* color #EE0055 */

@font-face {
    font-family: main;
    src: url(https://exglos.com/font.ttf);
}
html, body {
    margin: 0px;
    padding: 0px;
}
div, input, button {
    font-family: main, monospace;
    overflow: hidden;
    word-wrap: break-word;
}
label {
    display: block;
    margin: 16px auto;
    width: 90%;
    max-width: 500px;
    cursor: text;
}
label span {
    display: block;
    min-height: 18px;
    text-align: center;
    font-size: 14px;
}
.hint {
    text-align: left;
    color: #EE0055;
}
label input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 4px 0px;
    background: none;
    font-size: 16px;
    outline: 0;
}
label input:focus {
    border-color: #EE0055;
}
button {
    background: transparent;
    outline: 0;
    cursor: pointer;
}
.button {
    display: block;
    margin: 0px auto 32px;
    border: 2px solid black;
    min-width: 80px;
    padding: 8px;
    font-size: 16px;
}
.button:focus {
    border-color: #EE0055;
}
a {
    color: black;
    text-decoration: none;
    outline: 0;
}
a:focus {
    color: #EE0055;
}

#start h1 {
    margin: 0px 0px 32px;
    padding: 32px;
    background: #EE0055;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}
#start h1 a:focus {
    color: black;
    text-decoration: underline;
}
#startCreate {
    margin-top: 40px;
    margin-bottom: 64px;
}
#start p {
    text-align: center;
}
#create {
    display: none;
    margin-top: 32px;
}
#create p {
    text-align: center;
}
#createPassword {
    margin: 32px;
    font-size: 16px;
}
#main {
    display: none;
}
#account {
    margin: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: normal;
}
#balance {
    margin: 10px;
    text-align: right;
    font-size: 14px;
}
#header {
    border-bottom: 5px solid #EE0055;
}
#header div.right {
    float: right;
}
#header div.left {
    float: left;
}
#header button {
    margin: 14px 4px;
    border: none;
    padding: 6px;
    font-size: 14px;
}
#header button:focus {
    color: #EE0055;
}
#header .active {
    color: #EE0055;
}
#ether h3 {
    margin: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
#etherAddress {
    margin-bottom: 64px;
    font-size: 12px;
}
#erc20 {
    display: none;
}
#erc20Select {
    margin-top: 16px;
}
#erc20Contract {
    font-size: 12px;
}
#erc20List {
    margin: 0px auto;
    width: 90%;
    max-width: 500px;
}
#erc20List button {
    display: block;
    margin-bottom: 8px;
    padding: 0px;
    border: none;
    font-size: 14px;
}
#erc20List button:focus {
    color: #EE0055;
}
#erc20Selected {
    display: none;
}
#erc20Name {
    margin: 32px 8px 8px;
    text-align: center;
    font-size: 16px;
}
#erc20Balance {
    margin: 32px 8px 32px;
    text-align: center;
    font-size: 16px;
}
#erc20Address {
    margin-bottom: 64px;
    font-size: 12px;
}
#exglos {
    display: none;
}
#exglosBalance {
    margin: 32px 8px 8px;
    text-align: center;
    font-size: 16px;
}
#exglos .row {
    margin: 0px auto;
    max-width: 800px;
}
#exglosError {
    margin: 0px 16px 16px;
    min-height: 18px;
    text-align: center;
    font-size: 14px;
    color: #EE0055;
}
#exglosDivs {
    margin: 40px 16px 16px;
    min-height: 20px;
    text-align: center;
    font-size: 16px;
}
#exglosButtons {
    display: none;
    text-align: center;
}
#exglosButtons button {
    display: inline;
    margin: 0px 16px;
}
#exglosRef {
    margin: 32px 16px 0px;
    min-height: 18px;
    text-align: center;
}
#logs {
    margin: 32px 0px 64px;
    border-top: 5px solid #EE0055;
}
#logs p {
    margin: 16px auto;
    width: 90%;
}
#tx {
    display: none;
    margin-bottom: 32px;
}
#tx h3 {
    margin: 32px 8px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
#txNonce {
    margin-bottom: 64px;
}
#txGas, #txBalance {
    margin: 16px auto;
    width: 90%;
    max-width: 500px;
    font-size: 16px;
}
#txBalance {
    min-height: 66px;
}
#txError {
    margin: 16px;
    min-height: 18px;
    text-align: center;
    font-size: 14px;
    color: #EE0055;
}
#tx .row {
    text-align: center;
}
#tx .row button {
    display: inline;
    margin: 0px 16px;
}
#loading {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    opacity: 0.9;
    cursor: wait;
    animation: background 1.2s forwards;
}
#loading div {
    margin: auto;
    margin-top: 30vh;
    width: 160px;
    height: 160px;
    background: url(https://exglos.com/logo.svg) center/contain no-repeat;
    animation: image 3s 1.9s infinite;
}

@media (hover: hover) {
    #start h1 a:hover {
        color: black;
        text-decoration: underline;
    }
    label input:hover, .button:hover {
        border-color: #EE0055;
    }
    a:hover, #header button:hover, #erc20List button:hover {
        color: #EE0055;
    }
}
@media (min-width: 480px) {
    #account {
        font-size: 14px;
    }
    #etherAddress, #erc20Contract, #erc20Address {
        font-size: 16px;
    }
}
@media (min-width: 600px) {
    #exglos .row div {
        float: left;
        width: 50%;
    }
}

@keyframes background {
    0% {opacity: 0.1}
    100% {opacity: 0.9}
}
@keyframes image {
    0% {width: 160px}
    80% {width: 142px}
    100% {width: 160px}
}